<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>



<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Reclamo</th>
    </tr>
  </thead>

  <tbody id="claims">
    <% @claims.each do |claim| %>
      <%= render claim %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', companies_path %>

<%= line_chart @claims_chart %>